body {
    text-align: center;
    background-image: url("thumb-1920-649533.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CONTAINER {
    background-color:transparent;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-position 0.0000000000001s ease-out;
}

.CONTAINER input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    width: 250px;
    font-size: 16px;
}

.CONTAINER .button {
    background: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

.CONTAINER .h2weight {
    color: #3ca379;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;  
}

.CONTAINER .h2height {
    color: #3ca379;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;  
}

.CONTAINER .bmi {
    color: #407287;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;  
}

.CONTAINER .button {
    color: #407287;
    font-weight: 100%;
    background-color: #3ca379;
    font-family: 'Roboto', sans-serif;
}

.CONTAINER .result {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color:#3ca379;
}

.bmi-label {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color: #407287;
  }

  .bmi-value {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: 1px black;
    color: #58a2b3; 
  }

  .classification-label {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 10px;
  }


  .underweight {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color: #f39c12;
  }

  .normal {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color: #2ecc71;
  }

  .overweight {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color: #e67e22; 
  }

  .obese {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-family: 'Roboto', sans-serif;
    color: #e74c3c; 
  }